### Kaggle Avocado Prices Dataset

##### Source: https://www.kaggle.com/neuromusic/avocado-prices

In [1]:
import pandas as pd
import numpy as np
dataset = pd.read_csv('avocado.csv',index_col=0)
print("Records " + str(dataset.shape[0]) )

Records 18249

In [2]:
dataset.dtypes

Date             object
AveragePrice    float64
Total Volume    float64
Sales           float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [3]:
dataset.describe(percentiles=[.1, .2, .3, .4, .5, .6, .7, .8, .9])

,AveragePrice,Total Volume,Sales,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,1.405978,8.506440e+05,9.279484e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,0.402677,3.453545e+06,3.686048e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.440000,8.456000e+01,1.344504e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
10%,0.930000,3.896768e+03,6.476451e+03,9.427600e+01,3.674840e+02,0.000000e+00,1.299208e+03,5.831100e+02,0.000000e+00,0.000000,2015.000000
20%,1.050000,8.168866e+03,1.311747e+04,4.833620e+02,1.918532e+03,0.000000e+00,3.347674e+03,1.686086e+03,3.091800e+01,0.000000,2015.000000
30%,1.150000,1.518130e+04,2.442218e+04,1.368118e+03,4.265508e+03,0.000000e+00,7.316634e+03,4.761328e+03,3.299440e+02,0.000000,2015.000000
40%,1.260000,4.213709e+04,6.286260e+04,3.261580e+03,1.096199e+04,4.270400e+01,1.664326e+04,1.150208e+04,1.105110e+03,0.000000,2016.000000
50%,1.370000,1.073768e+05,1.395298e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
60%,1.480000,1.924301e+05,2.356426e+05,3.169808e+04,5.320205e+04,7.687820e+02,6.236147e+04,4.672575e+04,6.087796e+03,0.000000,2016.000000
70%,1.600000,3.196131e+05,3.860165e+05,7.799141e+04,9.829617e+04,3.466120e+03,8.890175e+04,6.888409e+04,1.439221e+04,20.252000,2017.000000
80%,1.740000,6.048690e+05,6.770559e+05,1.526791e+05,2.221636e+05,1.097260e+04,1.493064e+05,1.045371e+05,3.435099e+04,557.114000,2017.000000
90%,1.930000,1.387046e+06,1.719290e+06,5.383852e+05,5.007846e+05,3.149244e+04,4.421419e+05,3.542669e+05,9.429534e+04,3688.912000,2017.000000
max,3.250000,6.250565e+07,5.437991e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [44]:
def get_value(data_frame, column_name, function):
    return round(function(data_frame[column_name]), 2)


def get_percent(value, total):
    return round(value*100/total, 2)

#### AveragePrice By Year

In [46]:
yearly_data = dataset.groupby('year')
data  = []
for year, year_df in yearly_data:
    min = get_value(year_df, 'AveragePrice', np.min)
    med = get_value(year_df, 'AveragePrice', np.median)
    avg = get_value(year_df, 'AveragePrice', np.mean)
    max = get_value(year_df, 'AveragePrice', np.max)
    data.append([year, min, med, avg, max])
pd.DataFrame(data, columns=['Year', 'Min', 'Median', 'Mean', 'Max'])

   Year   Min  Median  Mean   Max
0  2015  0.49    1.30  1.38  2.79
1  2016  0.51    1.30  1.34  3.25
2  2017  0.44    1.49  1.52  3.17
3  2018  0.56    1.35  1.35  2.30

#### Volume by Year & Grade

In [47]:
data = []
for year, year_df in yearly_data:
    total = get_value(year_df, 'Total Volume', np.sum)
    g4046 = get_value(year_df, '4046', np.sum)
    g4225 = get_value(year_df, '4225',np.sum)
    g4770 = get_value(year_df, '4770', np.sum)
    data.append([year, total, g4046, get_percent(g4046, total), g4225, get_percent(g4225, total), g4770])
pd.DataFrame(data, columns=['Year','Total Volume','4046', '4046%','4225', '4225%', '4770', '4770%'])

,Year,Total Volume,4046,4046%,4225,4225%,4770,4770%
0,2015,4.385469e+09,1.709450e+09,38.98,1.761054e+09,40.16,3.26,1.427724e+08
1,2016,4.820890e+09,1.525123e+09,31.64,1.672728e+09,34.70,3.32,1.598798e+08
2,2017,4.934306e+09,1.652038e+09,33.48,1.544735e+09,31.31,1.85,9.121751e+07
3,2018,1.382738e+09,4.604997e+08,33.30,4.077587e+08,29.49,1.66,2.293259e+07

#### Sales by Year

In [43]:
data = []
for year, year_df in yearly_data:
    sales = round(np.sum(year_df['Sales']), 2)
    data.append([year, sales])
pd.DataFrame(data, columns=['Year', 'Sales Value'])

   Year   Sales Value
0  2015  4.488448e+09
1  2016  4.997590e+09
2  2017  5.965750e+09
3  2018  1.482343e+09